<%= link_to "CSV", customers_path(format: :csv), class: "btn btn-primary" %>
<p id="notice"><%= notice %></p>
 <form class="border rounded bg-white form-time-table">
  <h1 class="d-flex justify-content-center">
    月別リスト-</h1>

</div>



  <div id="mask" class="hidden" ></div>

  <section id="modal" class="hidden" tabindex="-1" role="dialog">
    <%= render partial: 'items/modal', locals: {item: @item }%>
  </section>


<div>
  <canvas id="stage"></canvas>
</div>
