body {
  padding: 40px 0;
  background-color: white;
}

h2 {
  text-align: center;
}

.form-sign-in {
 width: 100%;
 max-width: 500px;
 margin:100px auto;
 padding: 15px;
 border: 1px solid #dee2e6!important;
  text-align: center;
}

.form-group {
  // background-color: red;
  
}


.form-sign-in input {
  max-width: 400px;
  margin: auto;
 height: 50px;
  display: flex;
}

.btn {
  height: 50px;
}

.form-time-table {
  width: 90%;
  margin:auto;
  padding: 15px;
}

.form-time-table select {
  max-width: 200px;
  height: 50px;
}

.model-footer {
  justify-content: center;
  margin-bottom: 50px;
}

.model-header .close{
  padding:  0;
  margin: 0;
}

.form-user-list {
  max-width: 600px;
  margin:auto;
  padding: 15px;
}