about使用方法

<h2>使い方</h2>
<h2>Agrisとは</h2>
<p>
Agris（アグリス）は従来の紙でおこなっていた順番待ち受付を、スマートフォンやPCでおこなうサービス・アプリです。紙受付の手順はそのままで、お客様は簡単に現在の順番がわかります。
</p>

<h3>ご利用の流れ</h3>

<h2>使い方</h2>
<h3>運営・店舗さま</h3>
<p>皆様から問い合わせの多いトラブルの注意点などが書かれています。本格的なご利用の前に ご一読下さい。</p>

<p>毎日・定期的に使用
単発イベントに使用
お客さま
下記ページをお客様に配布（印刷・URLシェア）いただくことで、よりスムーズな運営が可能となります。ぜひご利用ください。</p>

<h2>使い方</h2>
<p>こちらもあわせてご覧ください（トラブル、事前準備など）
利用料金、商用利用、大規模イベント、パスワード忘れ、順番が変わらないなど、疑問に思ったことがありましたら下記をご覧ください。</p>

<h2>よくある質問と答え</h2>
<p>ご質問・ご要望・不具合報告
操作に関するご質問、機能のご要望、上手く行かない、不具合の報告等ありましたら、下記からお問い合わせください。</p>

<h2>問い合わせ</h2>
