<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "使い方" ,home_about_path ,class: "about-link " %>
</div>


<div class="about">

<h1 class="about-h1">使い方</h1>
<h2 class="about-h2">Agrisとは</h2>
<p>
Agris（アグリス）は従来の紙でおこなっていた順番待ち受付を、スマートフォンやPCでおこなうサービス・アプリです。紙受付の手順はそのままで、お客様は簡単に現在の順番がわかります。
</p>

<h3 class="about-h3">ご利用の流れ</h3>
 <p>圃場で野菜の状況等を確認しながら外出先で出荷数量を登録可能。農業事業団体などと情報を共有することで伝票の代わりにもご利用いただけます。</p>
    <ol>
    <li>生産者に新規登録を依頼しアカウントを作成していただく</li>
    <li>生産者は品目を指定して出荷する野菜の情報を入力いただく</li>
    <li>管理者は出荷状況一覧を操作します</li>
    <li>累計データを活用し、伝票の代わりとしてご活用いただくことができます。</li>
    </ol>
    <p>管理者側は、タイムリーに出荷状況を把握でき、販売計画や精算処理等も容易になります。生産者側は、出荷状況の分析や累計をネット上で管理することができ、今後の経営にも活用いただけます。</p>


<h2 class="about-h2">使い方</h2>
<h3 class="about-h3">運営・店舗さま</h3>
<p>皆様から問い合わせの多いトラブルの注意点などが書かれています。本格的なご利用の前に ご一読下さい。</p>

<p>毎日・定期的に使用
単発イベントに使用

<h3 class="about-h3">お客様</h3>
<p>下記ページをお客様に配布（印刷・URLシェア）いただくことで、よりスムーズな運営が可能となります。ぜひご利用ください。</p>

<h2 class="about-h2">こちらもあわせてご覧ください（トラブル、事前準備など)</h2>
<p>利用料金、商用利用、大規模イベント、パスワード忘れ、順番が変わらないなど、疑問に思ったことがありましたら下記をご覧ください。</p>

<h2 class="about-h2">よくある質問と答え</h2>
<p>ご質問・ご要望・不具合報告
操作に関するご質問、機能のご要望、上手く行かない、不具合の報告等ありましたら、下記からお問い合わせください。</p>

</div>