<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "運営・開発者" ,company_path ,class: "about-link " %>
</div>
<div class="company">
  <h1 class="about-h1">運営・開発者</h1>
  <p>このサイトは下記1名で運営されております。</p>

  <div class="company-admin-layout">
    <div class="company-admin">
        <%= image_tag('admin.jpg',class: "company-image") %>
      <h5>Kohei Kameo</h5>
      <p class="mt-3">サイト運営・webページ</p>
      <a href=""><i class="fab fa-twitter-square fa-3x"></i></a>
      <a href=""><i class="fab fa-youtube fa-3x youtube"></i></a>
      <a href=""><i class="fab fa-instagram fa-3x instagram"></i></a>
    </div>
  </div>

</div>

