<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "ご意見・ご質問・不具合報告" ,home_mail_path ,class: "about-link " %>
</div>

<div class="mail">
  <h1 class="about-h1">ご意見・ご質問・不具合報告</h1>
  <p>ご使用になられた感想・改善してほしい点、質問、うまく動かない不具合では？<br>などありましたら、お書きください。</p>
<hr>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdlyfbXF6h9zbcdWX9plbCGnyHMSUtfcnBZkWNsGCM1N_J-kQ/viewform?embedded=true" width="640" height="900" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>