<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "プライバシーポリシー" ,privacypolicy_path ,class: "about-link " %>
</div>

<div class="about">
  <h1>プライバシーポリシー（仮）</h1><br>
  
  <h2>個人情報の利用目的</h2>
  <p>メールでのお問い合わせなどの際に、ご入力いただいた、お名前、メールアドレス等の個人情報は、質問に対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、目的以外では利用いたしません。</p>
  
  
  <h2>個人情報の第三者への開示</h2>
  <p>当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。</p>
  <li>本人のご了解がある場合</li>
  <li>法令等への協力のため、開示が必要となる場合</li><br>
  
  <h2>ログについて</h2>
  <p>送信ログに関しては、記録としてメールアドレスが保存されます。この情報はAgrisシステムの保守・運営目的以外では使用致しません。</p>

  <h2>プライバシーポリシーの変更について</h2>
  <p>当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。</p>
</div>