<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "よくある質問と答え" ,home_question_path ,class: "about-link " %>
</div>


<div class="question">

<h1 class="about-h1">よくある質問と答え</h1>

<div class="question-title">
		<h2 class="question-h2">目次</h2>
		<div class="question-outline">
		  <ol>
		    <li><a href="#co-index-0">利用料金について</a></li>
		    <li><a href="#co-index-1">規約に関すること</a></li>
		    <li><a href="#co-index-2">こんなことはできますか？</a></li>
		    <li><a href="#co-index-3">操作方法</a></li>
		    <li><a href="#co-index-4">困っています・トラブル</a></li>
		    <li><a href="#co-index-5">運用について</a></li>
	    </ol>
    </div>
	</div>




<h2 class="about-h2" id="co-index-0">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
<h2 class="about-h2" id="co-index-1">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
<h2 class="about-h2" id="co-index-2">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
<h2 class="about-h2" id="co-index-3">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
<h2 class="about-h2" id="co-index-4">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
<h2 class="about-h2" id="co-index-5">利用料金について</h2>
  <ul>
    <li><i class="fas fa-question-circle"></i>使用料金はかかりますか？</li>
    <li>使用料金はかかりません。無料でご利用いただけます。</li>
  </ul>
</div>