<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "よくある質問と答え" ,home_question_path ,class: "about-link " %>
</div>
<div class="question">
  <h1 class="about-h1">よくある質問と答え（仮）</h1>
  <div class="question-title">
  		<h2 class="question-h2">目次</h2>
  		<div class="question-outline">
  		  <ol class=question-ol>
  		    <li><a href="#co-index-0">利用料金について</a></li>
  		    <li><a href="#co-index-1">規約に関すること</a></li>
  		    <li><a href="#co-index-2">こんなことはできますか？</a></li>
  		    <li><a href="#co-index-3">操作方法</a></li>
  		    <li><a href="#co-index-4">困っています・トラブル</a></li>
  		    <li><a href="#co-index-5">運用について</a></li>
  	    </ol>
      </div>
  	</div>
  <h2 class="about-h2" id="co-index-0">利用料金について</h2>
    <dl>
      <div>
        <dt>使用料金はかかりますか？</dt>
        <dd>使用料金はかかりません。無料でご使用いただけます。</dd>
      </div>
      <div>
        <dt>なぜ無料で使用できるのですか？</dt>
        <dd>現在Agrisではサービスの普及を一番の目的としています。Agrisの今後を応援したい方はご支援いただけると嬉しいです。</dd>
      </div>
    </dl>
  <h2 class="about-h2" id="co-index-1">規約に関すること</h2>
    <dl>
      <div>
        <dt>商用利用したいのですが可能ですか？</dt>
        <dd>はい。利用可能です。問題ありません。</dd>
      </div>
      <div>
        <dt>社内等で継続的に使用したいのですが可能ですか？</dt>
        <dd>はい。利用可能です。</dd>
      </div>
    </dl>
  <h2 class="about-h2" id="co-index-2">こんなことはできますか？</h2>
    <dl>
      <div>
        <dt>最大何人くらい使えますか？</dt>
        <dd>現在検証中です。使用上でエラーが発生した場合など、システムの改善点や、運用面に関するアドバイス（知見）を含めたご感想をお送りいただけると非常にありがたいです。</dd>
      </div>
      <div>
        <dt>月ごとにグラフを表示させたいのですが、可能ですか？</dt>
        <dd>可能です。標準機能として自動的に円グラフでの出力がされます。今後機能拡張も検討しております。</dd>
      </div>
      <div>
        <dt>順番を飛ばす・入れ替えることはできますか？</dt>
        <dd>可能です。投稿内容を編集頂くことで順番の変更が可能です。標準の表では1日から順番に設定されています。</dd>
      </div>
      <div>
        <dt>スマートフォンを持っていないお客様はどうすれば良いですか？</dt>
        <dd>Agrisは、PC/スマートフォンのみ対応しています。PCからのアクセスをお願い致します。</dd>
      </div>
    </dl>
  <h2 class="about-h2" id="co-index-3">操作方法</h2>
    <dl>
      <div>
        <dt>違うスマートフォンからアクセス、複数の端末から同時に操作したい</dt>
        <dd>ログインができれば、操作して頂くことは可能です。</dd>
      </div>
      <div>
        <dt>ブラウザを閉じてしまいました。もう一度操作するにはどうすれば良いですか？</dt>
        <dd>再度ログインを行い操作を進めてください。</dd>
      </div>
      <div>
        <dt>PCで登録したが、他のPCやスマートフォンから投稿内容を変更したい</dt>
        <dd>編集ボタンをクリックして頂ければ、同じ操作が可能です。</dd>
      </div>
    </dl>
  <h2 class="about-h2" id="co-index-4">困っています・トラブル</h2>
    <dl>
      <div>
        <dt>パスワードを忘れてしまいました</dt>
        <dd>こちらより再度設定ください⇒
            <a href="https://6723297d3dbe46a286bab3790af8fccf.vfs.cloud9.ap-northeast-1.amazonaws.com/customers/password/new">パスワードお忘れの方</a>
        </dd>
      </div>
      <div>
        <dt>管理者ログインが分からなくなってしまった</dt>
        <dd>運営までご連絡ください。</dd>
      </div>
    </dl>
  <h2 class="about-h2" id="co-index-5">運用について</h2>
    <dl>
      <div>
        <dt>使用にあたって注意すること、準備することはありますか？</dt>
        <dd>管理者と入力者での管理方法を決めてください。（例：入力方法（品種名はカタカナのみで入力など）</dd>
      </div>
      <div>
        <dt>大規模な人数で使用するにあたり、気をつけることはありますか？</dt>
        <dd>登録人数の限界でエラーが発生する可能性があります。システムの改善点や、運用面に関するアドバイス（知見）を含めたご感想をお送りいただけると非常にありがたいです。</dd>
      </div>
    </dl>
</div>

<%= javascript_include_tag 'question' %>