<div class="about-links">
  <%= link_to "home" ,root_path ,class: "about-link " %> >
  <%= link_to "利用規約" ,terms_path ,class: "about-link " %>
</div>

<div class="about">
  
  <h1>利用規約（仮）</h1>
  
  <p>Agris（以下、本サービスといいます）を ご利用の皆様（順番を作る方・見る方。以下、ユーザーといいます）は下記の項目に同意いただくことにより、本サービスをご利用いただけます。</p>
  
  <ol>
    <li>当社は、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。</li>
    <li>本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負いません。</li>
    <li>本サービスはユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負いません。</li>
    <li>本サービスを第三者に有料で提供することはできません（当システムを他のシステムに組み込み、有料でサービス提供するなど）</li>
    <li>情報セキュリティ的な不具合を見つけた場合、当方に報告する前に公開はできません。まずは当方にお知らせください。修正後公開して頂くことは問題ありません。</li>
    <li>管理URL及びパスワードが第三者によって使用されたことによって生じた損害は、当社は一切の責任を負いません。</li>
  </ol>
  
  <%= link_to "プライバシーポリシーはこちら" ,privacypolicy_path  %>

</div>


