/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.login-title {
  text-align: center;
  color: #323232;
  font-size: 22px;
  margin-top: 30px;
}


.wrapper {
  font-size: 14px;
  text-align: center;
}
.re-pw-link {
  text-decoration: none;
  color:  #cdcdcd;
}
.re-pw-link:hover {
  color:  #323232;
  text-decoration: underline;
}
.t-deco {
  color: #cdcdcd;
  font-weight: normal;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.t-deco:before,
.t-deco:after {
  content: "";
  -moz-box-flex: 1;
  flex-grow: 1;
  height: 1px;
  background: #cdcdcd;
  display: block;
}

.actions {
  text-align:center;
}



.t-deco:before {
  margin-right: 20px;
}
.t-deco:after {
  margin-left: 20px;
}

.field {
  display: flex;
}


.input-mail {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 10px;
  margin: 5px auto 5px auto;
  font-size: 14px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}


.item_show {
  background-color: skyblue;
  text-align: center;
}

.heading6 {
  position: relative;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

.heading6::before,
.heading6::after {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 10%;
  content: '';
  border-top: 3px solid #333;
}

.heading6::before {
  left: 0;
}

.heading6::after {
  right: 0;
}

ul.list1 {
  max-width: 40em;
  padding: 0.5em 0.5em 0.5em 2em;
  margin: 0 auto;
  color: #333;
  background: #fff;
  border: solid 3px gray;
  border-radius: 0.5em;
}

ul.list1 li {
  padding: 0.5em 0;
  line-height: 1.5;
}

.list1-link {
  text-align: center;
}


.button-1 {
  display: inline-block;
  padding: 0.4em 2em;
  font-size: 18px;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 8px;
  transition: 0.4s ease;
  background: white;
}

.button-1:hover {
  color: #fff;
  background: #00b5ad;
}


.button-2 {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 22px;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 20px;
  transition: 0.4s ease;
}

.button-2:hover {
  color: #fff;
  background: #00b5ad;
}

.admin-login {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 50px 0 ;
}
.customer-login {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 50px 0 ;
}

.button-gradation {
  position: relative;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  background: #fff;
  transition: 0.3s;
}

.button-gradation:hover {
  color: #fff;
  background: -webkit-linear-gradient(top left, #00b5ad, #50e684);
}

.button-gradation::before {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  content: "";
  background: -webkit-linear-gradient(top left, #00b5ad, #50e684);
}

.input-mail {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 10px;
  margin: 5px auto 5px auto;
  font-size: 14px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form-1{
  display:flex;
  justify-content: center;
}

.side-var-1 {
  width: 200px;
  height: auto;
  text-color: #fff;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  margin-right: 10px;
}
.side-var-2 {
  width: 200px;
  height: auto;
  text-color: #fff;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  margin-right: 10px;
}

.side-h3{
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.form-label{
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  width: 200px;
}

.form-field{
 margin: 5px 0px 0px 0;
 height: 50px;
 width: 300px;
}
.form-field-2{
 margin: 20px auto 5px 0;
 width: 300px;
}

section2 {
 margin-left: 200px;
 font-size: 13px;
}

 #target {
  margin: 0 auto;
  width: 550px;
  height: 400px;
}


.link-2 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#open, #close {
  cursor: pointer;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: #fff;
  width: 800px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

.vertical-scroll-table{
	color: #5e5e5e;
  max-height: 400px;
	overflow: auto;
	overflow-x: hidden;
	margin: 20px;
}
.vertical-scroll-table table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.vertical-scroll-table table thead tr{
	font-weight: bold;
	text-align: center;
	background-color: #f3f4f5;
}
.vertical-scroll-table table tbody tr:nth-child(even){
	background-color: #fafbfc;
}
.vertical-scroll-table table td{
	width: 33%;
	padding: 5px;
	border: 1px solid #ddd;
}

.map {
  margin: 30px auto 30px auto;
}

.d3 {
      text-align: center;
}

// ヘッダー関連

ul.header {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.logo {
  width: 80px;
  height: auto;
}
.logo-2 {
  width: 80px;
  height: auto;
}

.header-fix {
  width: 150px;
  height: 0;
}

header {
  background-color: white;
}

ul.header li {
  align-items: center;
  justify-content: center;
  display: flex;
}

a.nav-link {
  margin: 0;
}


.guest {
  text-align: center;
  background: #f6d365;
}

// ヘッダー関連


// トップ画面関連

.container1 {
  height: 530px;
  margin-bottom: 30px;
}

.title {
  font-size: 100px;
  margin-bottom: 30px;
}

.title-p {
  font-size: 28px;
  font-weight: 700;
}
.title-p2 {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 700;
}

.h1-top {
 padding: 0;
position: relative;
	margin-bottom: 1em;
	text-align: center;
}

.h1-top:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 10%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: skyblue;
	border-radius: 2px;
}

main {
  background: orange;
  color: white;
  text-align: center;
}

main h1,
main p {
  margin: 0;
}

main img {
  width: 300px;
  vertical-align: bottom;
}

.features img {
  width: 100%;
}

.features > h1 {
  text-align: center;
  padding: 30px 0 10px 0;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
  font-size: 15px;
}

.features section {
  padding-bottom: 64px;
}

.members {
  background: whitesmoke;
}

.members > h1 {
  text-align: center;
  padding: 64px;
  font-weight: normal;
}

.members ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members img {
  width: 250px;
  border-radius: 50%;
}

.members h2 {
  font-size: 20px;
}

.members li {
  padding-bottom: 20px;
}

.call-to-action {
  background: orange;
  color: white;
  text-align: center;
  padding: 64px 0;
}

.call-to-action h1 {
  font-weight: normal;
}

.call-to-action .btn{
  margin: 0 auto;
}

footer {
  padding: 40px 0 10px 10px;
  background: #323135 ;
  color: #98969c;
  display: flex;
}

.footer-side {
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.footer-side-all {
  width: 200px;
  text-align: center;
}
.footer-link {
  width: 200px;
  margin-left: 60px;
}
.footer-link-2 {
  width: 200px;
  margin-left: 100px;
}

a.nav-link-footer {
  margin: 0;
  color: #98969c;
  line-height: 1.8;
}


p {
  padding-bottom: 10px;
}

@media (min-width: 900px){
  header .container{
    display:flex;
    width: 800px;
    margin:  0 auto;
  }

  header .info {
    width: 60%;
    align-self: center;
  }

  header .pic {
    width: 40%;
  }

  .features .container {
    width: 800px;
    margin: 0 auto;
  }

  .features section {
    display: flex;
    justify-content: space-between;
  }

  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features .pic {
    width: 50%;
  }

  .features .info {
    width: calc(50% - 32px);
  }

  .members ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .members li {
    width: 250px;
  }

}
// トップ画面関連

// 上部へ戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
}

#back img {
  width: 50px;
}
// 上部へ戻るボタン

// ハンバーガーメニュー
@media (max-width:768px){
  html,body{
    overflow-x: hidden;
  }
  .nav{
    position: fixed;
    top: 30px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 右からスライド */
    transition: left 0.5s;
  }

  #navbtn{
    margin-top: 32px;
  }
  .nav ul{
    list-style:none;
  }

  ul.header{
    flex-direction: column;
    align-items: end;
  }

  .nav li:not(:last-child){
    margin-bottom: 30px;
  }
  .nav a{
    color: #ffffff;
  }
}
// ボタン（開く)
#navbtn{
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#navbtn::before,
#navbtn::after{
  content : '';
  display: block;
  height: 1px;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

#navbtn::before{
  transform: translateY(-10px);
  box-shadow: 0 10px #333333;
}

// ボタン（閉じる）
.open #navbtn{
  z-index: 100;
}
.open #navbtn::before{
  transform: rotate(-45deg);
  box-shadow: none;
}
.open #navbtn::after{
  transform: rotate(45deg);
  box-shadow: none;
}
// ハンバーガーメニュー 開いた時
.open .nav{
  left: 0;
}

@media(min-width: 768px){
// PCではボタン非表示
  #navbtn{
    display:none;
  }
}



// about画面
.about {
  margin: 0 auto;
  width: 1200px;
}

.about-links{
  margin: 10px 0 0 30px;
  color: 	#D3D3D3;
}

.about-link{
  font-family: "Noto Sans JP",sans-serif;
  font-weight: 700;
  color: 	#D3D3D3;
}

.about-h1 {
  font-weight: 700;
  margin-top: 30px;
}

.about > p, li {
  font-size: 15px;
  font-weight: 100;
  font-family: "Noto Sans JP",sans-serif;
  line-height: 1.7;
  padding-left: 10px;
}


.about-h2 {
  border-left: 2px solid transparent;
  border-left-color: skyblue;
  background-color: #f7f7f7;
  padding-left: 10px;
  margin-top: 30px;
  font-weight: 700;
}
.about-h3 {
  border-bottom: 2px solid #eee;
  margin-top: 30px;
  font-weight: 700;
}

#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}


#modal {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 5;
  width: 935px;
}

#modal > p {
  margin: 0 0 20px;
}

#modal.hidden {
  display: none;
  transform: translate(0, 0);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px -7px 0;
    background-color: #FF6347;
    color: #fff;
}



#error_explanation {
    width: 450px;
    margin: 0 auto;
    border: 2px solid #FF6347;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}


element.style {
}
.field_with_errors {
    padding: 2px;
    background-color: #FF6347;
    display: table;
    margin: 0 auto;
}


.password_path {
  width: 600px;
  height: 300px;
  margin: 30px auto;
  background: 	#F5F5F5;
}

.password_path > h2 {
  width: 600px;
  background: orange;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}



#pageback {
  position: fixed;
  left: 20px;
  bottom: 20px;
  opacity: 0.5;
}


@import "toastr";

.wrapper {
  margin: 10px;
}

.movie-after {
width: auto;
height: 30px;
}

.now-p {
  margin: 0 auto;
  text-align: center;
}

.now {
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  position: relative;
	margin-bottom: 1em;
}
.now:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 10%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: skyblue;
	border-radius: 2px;
}

.movie2 {
  text-align: center;
  padding-bottom: 40px;
}

// ↓よくある質問と答えのページ
.question {
  margin: 30px 300px;
}

.question-title {
  background-color: #f7f7f7;
}

.question-h2 {
  margin-top: 10px;
  padding-top: 10px;
  margin-right: 0;
  margin-left: 20px;
  font-size: 20px;
}

.question-ol {
  position: relative;
}

.question-ol li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}

.question-ol li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f075";
  position: absolute;
  left : 1em;
  color: skyblue;
}

dl {
  margin: 0;
}

dl > div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before {
  content: 'Q. ';
}

dt::after {
  content: '+';
  position: absolute;
  top: 8px;
  right: 16px;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  display: none;
}

dd::before {
  content: 'A .';
}

dl > div.appear dd {
  display: block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
// ↑よくある質問と答えのページ

.about {
  margin: 30px auto;
  width: 800px;
}

.mail {
  padding: 0 300px;
  height: 1020px;
}
.company {
  padding: 30px;
}

.company-admin-layout {
  display: flex;
  justify-content: center;
}

.company-admin {
  width: 400px;
  height: 450px;
  margin: 10px 30px;
  text-align: center;
  background: #f7f7f7;
  padding: 50px;

}

.company-image {
  border-radius: 50%;
  width: 190px;
  height: 195px;
  text-align: center;
  margin-bottom: 20px;
}

.youtube {
  color: red;
}

.instagram {
  color: #fa709a;
}

.sum-table {
  width: 300px;
  height: 100px;
}

.item-amount-chkbox {
  transform: scale(2);
}

.calk {
  font-size: 20px;
}

.destroy_all {
  margin-left: 400px;
}

.month {
  width: 800px;
  margin: 0 auto;
}

.result {
  display: flex;
}

.export {
  margin-left: 900px;
  margin-bottom: 10px;
  position: relative;
  padding: 0.5em 1.6em;
  font-size: 0.8em;
  color: #007BFF;
  user-select: none;
  border-top: 1px #007BFF solid;
  border-bottom: 1px #007BFF solid;
}

.export2 {
  margin-left: 500px;
  position: relative;
  padding: 0.5em 1.6em;
  font-size: 0.8em;
  color: #007BFF;
  user-select: none;
  border-top: 1px #007BFF solid;
  border-bottom: 1px #007BFF solid;
}

.destroy_all {
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  user-select: none;
  background: #FF0461;
  border: 1px #fff solid;
  box-shadow: 0 0 0 3px #FF0461;
  border-radius: 10px;
  text-align: center;
}

.top-h4 {
  font-weight: bold;
}

.main-image {
  width: 175px;
  height: 225px;
  margin: 10px 10px;
}

.container2 {
  width: 100%;
  height: 300px;
  outline: 8px solid red;
  position: relative;

}

.scroll-ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
}

.scroll-li {
  height: 100%;
  min-width: 100%;
}

.scroll-li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}